body {
  background-color: #F7F7F7;
}
header {
margin-top: -10px;
margin-left: -10px;
margin-right: -10px;
margin-bottom: 40px;
padding: 10px;
background-color: white;
}

.article {
  background-color: white;
  width: 900px;
  padding: 5px;
}

.index-img {
  width: 450px;
  height: 250px;
}

.index-img-div {
  text-align: left;
}

#links {
  margin-top: -1px;
  float: left;
}

#logo {
  width: 100px;
}

#logo-div {
  text-align: center;
}

#socials-and-search {
  float: right;
}

.title-teaser-author-div {
  text-align: justify;
  padding-top: 100px;
  margin-left: 20px;
}

.title {
  font-size: 1.8em;
}

.teaser {
  font-size: 1em;
}

.author {
  font-size: 1.2em;
}
